# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.lo

# Compiled Binary files
test.out*
vercode

# Cscope files
*.out
*.files

# Ctags files
tags
tag

# Other files
.dep*
.lib*

# doc
docs*
